{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for product in product_list %}
   <h4>{{product.product_name}}</h4> 
   <p>{{product.product_description}}</p>
   <img src="{{product.product_img_url}}" width="180px"><br>
   Categories: {{product.product_categories}}<br>
   Starting price: ${{product.product_starting_bid }}

   {% for auction in auction_list %}
   {{ forloop.counter0 }}
   {{product.id}} ? {{auction.0}}<br>{{auction}}<br>{{auction_list}}
   {% if product.id == auction.product_sold.product_sold_id %}
    {{auction.amount_bid}}
   {% endif %}
   {% endfor %} 

    <hr>
   {% endfor %}

   {{auction_list}}<br>
   {{product_list}}<br>
   {{test_data}}
{% endblock %}