{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for product in product_list %}
   <h4>{{product.product_name}}</h4> 
   <p>{{product.product_description}}</p>
   <img src="{{product.product_img_url}}" width="180px"><br>
   Categories: {{product.product_categories}}<br>
   Starting price: ${{product.product_starting_bid }}<br>
 
   {% for auction in auction_bid %}
   {% if auction.winning_bid == True and product.id == auction.product_sold.id %}
   Highest bid: <b>${{auction.amount_bid}}</b>
   {{product.id}} :{{auction.product_sold.id}} => {{auction.winning_bid}}  => {{auction.amount_bid}}<br> 
   {% endif %} 
   {% endfor %} 
   {% if product.product_status == 'active' %}
   <a href="auctions/bid/{{product.id}}">bid</a>
   {% endif %} 
    <hr>
   {% endfor %}
 
{% endblock %}