{% extends "auctions/layout.html" %}

{% block body %}



 

<div class="card mb-3" style="max-width: 540px;">
   <div class="row g-0">
{% for product in product_detail %}
<h5 class="card-title">{{product.product_name}}</h5> 
<p class="card-text">{{product.product_description}}</p>
   <div class="col-md-4">
   <img src="{{product.product_img_url}}" class="img-fluid rounded-start"><br>
   </div>
   {% if max_bid == "na" %}
   <p>no bids received yet</p>
 
    {% else %}
    <p style="padding:20px">Highest bid:
        ${{max_bid}}<br>
  
      Placed by <b>{{max_bid_model.user_bid}}</b> on {{max_bid_model.date_bid}}
      </p>

        {% if not accepted_bid   %}
        <p><form method="post" action="C{{product.id}}">
         {% csrf_token %}
         <input type="hidden" name="bid_id" value="{{bid_id}}">
     <input type="submit" value="Accept"class="btn btn-primary mb-3">
      </p>
     {% else %}
     <div class="alert alert-success" role="alert">Bid accepted!!</div>
     {% endif %}

{% endif %}
</div>
</div>
   {% endfor %} 
<br><br>
{% for comment in comments %}
 
<div class="p-2"><b>{{comment.user_comment}}</b> wrote on  {{comment.comment_date_inserted}}:<br>
    {{comment.comment}}</div>
{% endfor %}

</div>
<form method="post" action="{{comments}}">
{% csrf_token %}
<input type="hidden"  value="{{product.id}}" name="id">
<input type="hidden"  value="{{user}}" name="user">
<textarea rows="4" cols="68" name="comment"></textarea>
<input type="submit" value="save" name="save_comment">
</form>

{% endblock %}