{% extends "auctions/layout.html" %}

{% block body %}


{% for product in product_detail %}
   <h4>{{product.product_name}}</h4> 
   <p>{{product.product_description}}</p>
   <img src="{{product.product_img_url}}" width="180px"><br>
    
   {% if max_bid == "na" %}
   <p>no bids received yet</p>
 
    {% else %}
    <p>Highest bid:
        ${{max_bid}}</p>
{% endif %}
{% if not accepted_bid   %}
   <p><form method="post" action="accept_bid/{{product.id}}">
    {% csrf_token %}
    <input type="hidden" name="bid_id" value="{{bid_id}}">
<input type="submit" value="Accept"></p>
{% else %}
    <p>Bid accepted!!</p>
    {% endif %}
   {% endfor %} 
<br><br>
   {{error}} - {{tot}}
   <br>{{product_detail}}
   <br>{{product_update}}
   <br>{{aa}}
   <br>{{product_update.product_status}}
   <br>{{product_update.product_price}}
   
{% endblock %}